null

.image-header {
    background-image: url("http://app.saul.angry.ventures/assets/images/uploads/XfiUHpA74vHUyzi.png");
    background-repeat: repeat;
    background-position: center center;
}

.image-header > .text-left > .img-responsive {
    padding: 0px 0px 0px 0px;
}

.image-header > .img-responsive {
    padding: 0px 0px 0px 0px;
}

.image-header > div > .img-responsive {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.image-header {
    background-image: url("http://app.saul.angry.ventures/assets/images/uploads/XfiUHpA74vHUyzi.png");
    font-family: "Courier New", Courier, monospace;
}

.image-header > .row > .col-md-4 {
    padding: 0px 15px 0px 15px;
}

.image-header > .row > .col-md-4 > h1 {
    box-shadow: 14px 0px 10px 0px rgba(0, 0, 0, 0.75) !important;
}

.image-header > .row > .col-md-12 > h1 {
    font-family: "Comic Sans MS", cursive, sans-serif !important;
    box-shadow: 0px 0px 0px 0px #000000 !important;
    text-decoration: rgb(255, 255, 255) !important;
    font-style: initial !important;
}

.image-header > .row > .col-md-12 > h1 > span > .strong > .font-style {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75) !important;
    text-decoration: rgb(255, 255, 255) !important;
}

.image-header > .row > .page-header {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.image-header > .row > .col-md-12 > h2 > .strong > .font-style {
    font-family: "Courier New", Courier, monospace !important;
}

.image-header > .row > .col-sm-4 > .img-responsive {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
}

.image-header > .row > .col-md-8 > .text-left > .btn-success {
    padding: 34px 34px 34px 34px;
    margin: 75px 0px 0px 0px;
    border-color: #468966;
    background: #1f1f1f;
    border-width: 1px 1px 1px 1px;
    box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.75);
    font-weight: 400;
    text-align: initial;
}

.image-header > .row > .col-md-8 > .text-left > .btn-success > .strong {
    font-size: 26px;
    text-align: center;
}

.image-header {
	background-image: url(assets/images/header-bg.jpg);
	background-position: center center;
	background-size: cover;
	text-align: center;
	padding: 300px 0 200px;
	color: #fff;
}

.image-header > h1 {
	font-size: 75px;
	font-weight: 700;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.image-header > h3 {
	font-size: 40px;
	margin-bottom: 25px;
	font-style: italic;
}

.image-header > .btn-lg {
	padding: 20px 40px;
	font-size: 18px;
}